$primary: rgb(98, 179, 255);
$secondary: darken($primary, 20%);
$tertiary: lighten($primary, 25%);
$text: darken($primary, 30%);

html {
    margin: 0;
}

body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $text;
}

button {
    background: $primary;
    border: 2px solid $secondary;
    border-radius: 4px;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: darken($primary, 10%);
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mainMenu Title .";
    border-bottom: 2px $secondary solid;
    background: $tertiary;

    #mainMenu {
        display: flex;
        align-self: center;
        justify-content: center;

        button {
            width: 3em;
            height: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;

            div {
                width: 1.5em;
                height: .1em;
                background-color: white;
                border: 1px white solid;
                border-radius: 2px;
            }

        }
    }

    h1 {
        text-align: center;
    }
}

.DsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    #dropDown {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: $tertiary;
        border: 2px solid $secondary;
        border-top: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        button {
            height: 3em;
            margin: 1em;
            padding: 0 1em;
        }
    }

}

    

    .nodes {
        position: absolute;
        background-color: $primary;
        border: solid 2px $secondary;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: darken($primary, 10%);
        }
    }



.menu {
    
    #InteractiveMenu {
        background: $tertiary;

        form {
            display: flex;
            flex-direction: column;
            padding: 1em;
            border: solid 2px $secondary;
            border-top: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            align-items: center;

            input{
                width: 100px;
            }

            button {
                margin: 1em 1em 0 1em;
                padding: 1em;

            }
        }
    }

}


